* body{
    margin: 0;
    background: darkgrey;
}


.head{
    margin: 1px 0px 0px;
    width:100%;
    height:100px;
    border: 2px solid black;
}
.validate{
    position:relative;
    margin: 6px 0px 0px;
    border: 2px solid black;
    width:100%;
    height:390px;
}
.foot{
    margin: 6px 0px 0px;
    border: 2px solid black;
    width:100%;
    height:100px;
}

.username  {
    background-color: whitesmoke;
    position: relative;
    display: table;
    margin: auto;
    top: 125px;
    right:0;
    left:0;
    bottom: 0;
    border: none;
    border-bottom: 2px groove darkgrey;
    outline:none;
 }
.password  {
    background-color: whitesmoke;
    position: relative;
    display: table;
    margin: auto;
    top: 170px;
    right:0;
    left:0;
    bottom:0;
    border: none;
    border-bottom: 2px groove darkgrey;
    outline:none;
}
.button{
    background-color: darkgrey;
    position: relative;
    width: 150px;
    height: 50px;
    margin: auto;
    top: 250px;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px groove black;
    border-radius: 20px 20px 20px 20px ;
    display: block;
    outline:none;
}
.form-validate{
    position: absolute;
    background-color: whitesmoke;
    width:300px;
    height: 350px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px 20px 20px 20px;
}
