* body{
    margin: 0;
    background: linear-gradient(white,lightgray,white);
    font-family: Geneva, Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none; /* Убираем маркеры */
}


.header-menu{
    display: inline-block;
    margin: 0px 0px 0px;
    width:100%;
    height:50px;
    border: 1px solid black;
    border-top:none;
	border-color: rgba(0,0,0,0.1);
  
}
.header-menu>ul {
    margin-left: 100px;
}

.header-menu>ul li{
    display: inline;
    padding-right: 20px;
    margin-right: 5px

}
.header-menu>h2{
    margin: 0;
    width: 120px;
    height: 15px;
    font-family:Comic Sans MS, Comic Sans, cursive;
}
.validate{
    position:relative;
    margin: 0;
	border-top:none;
    width:100%;
    height:620px;
}
.footer{
    display: inline-block;
    width:100%;
    height:35px;
    position: fixed;
    left: 0; bottom: 0;
    padding: 10px;
    border: 1px solid black;
    border-color: rgba(0,0,0,0.1);
}
.form-validate{
    position: absolute;
    background-color: whitesmoke;
    width:300px;
    height: 500px;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 20px 20px 20px 20px;
	opacity:1.0;
}

.username  {
    background-color: whitesmoke;
    position: relative;
    display: table;
    margin: auto;
    top: 125px;
    right:0;
    left:0;
    bottom: 0;
    border: none;
    border-bottom: 2px groove darkgrey;
    outline:none
	
 }
.password  {
    background-color: whitesmoke;
    position: relative;
    display: table;
    margin: auto;
    top: 140px;
    right:0;
    left:0;
    bottom:0;
    border: none;
    border-bottom: 2px groove darkgrey;
    outline:none;
}
.group  {
    background-color: whitesmoke;
    position: relative;
    display: table;
    margin: auto;
    top: 155px;
    right:0;
    left:0;
    bottom: 0;
    border: none;
    border-bottom: 2px groove darkgrey;
    outline:none

}
.email {
    background-color: whitesmoke;
    position: relative;
    display: table;
    margin: auto;
    top: 170px;
    right:0;
    left:0;
    bottom:0;
    border: none;
    border-bottom: 2px groove darkgrey;
    outline:none;
}
.button{
    background-color: lightgrey;
    position: relative;
    width: 150px;
    height: 50px;
    margin: auto;
    top: 300px;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px groove black;
    border-radius: 20px 20px 20px 20px ;
    display: block;
    outline:none;
}
.list_users{
    margin-right:100px;
}
.footer >ul {
    margin-left: 100px;
}

.footer >ul li{
    display: inline;
    padding-right: 20px;
    margin-right: 5px;

}
.button_test{
    display: none;
    background-color: lightgrey;
    position: relative;
    width: 150px;
    height: 50px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border: 2px groove black;
    border-radius: 20px 20px 20px 20px ;
    outline:none;
}
.pagination li a, .pagination li span {
    background-color: #f0f0e9;
    border: 0;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    margin-right: 5px;
    color: #000;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination li:last-child a, .pagination li:last-child span {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.pagination li:first-child a, .pagination li:first-child span {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
}
.pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
    background-color: #FE980F;
    border-color: #FE980F;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}
.pagination {
    display: none;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}
.course_wrapper
{
    display: inline-block;
    margin:50px;

}





